{{page-title "Prepare"}}
<div class="ui basic inverted violet segment temp">
  <div class="ui secondary menu">
    <div class="ui right item">
      <button {{action "logout"}} class="ui primary button ali">Déconnection</button>
    </div>
  </div>
</div>
<div class="ui basic inverted black segment temp">
  <div class="ui secondary menu">
    <div class="ui item">
      <h1 class="ui grey inverted header">Sections</h1>
    </div>
    <div class="ui right item">
      <button {{action "goBoard"}} class="ui positive button ">Retour au board</button>
    </div>
  </div>
</div>

{{outlet}}
<div class="ui container segment bglight">
  <h1 class="ui header">
    <div class="content">Détail de la commande N°{{@model.id}}</div>
    <button class="ui grey button right floated" {{action "back"}}>retour</button>
  </h1>

  <div class="ui segment grid">
    <div class="ui height wide column">
      <h2>Commande</h2>
      <p class="info-client">Prix: {{@model.amount}} €</p>
      <p class="info-client">Quantité: {{@model.itemsNumber}}</p>
    </div>
    <div class="ui height wide column">
      <h2>Client</h2>
      <p class="info-client">Nom: {{@model.user.name}}</p>
      <p class="info-client">Email: {{@model.user.email}}</p>
    </div>
  </div>

  <div class="ui segment">
    <h2>
      <div class="content">
        Produit à préparer
      </div>
    </h2>
    <div class="ui segment">
      <table class="ui very basic table">
        {{#each this.sections as |section|}}
          <tr>
            <td colspan="4">
              <div class="ui inverted violet segment">
                <h1 class="ui header">
                  <div class="content">{{section.value}}</div>
                </h1>
              </div>
            </td>
          </tr>
            {{#each section.items as |orderdetail|}}
            <tr>
              <td class="collapsing"><span class="bold">Nom: </span>{{orderdetail.product.name}}</td>
              <td><span class="bold">Prix: </span>{{orderdetail.product.price}}</td>
              <td class="collapsing"><span class="bold">Quantité: </span>{{orderdetail.quantity}}</td>
              <td class="collapsing">
                <!--<UiCheckbox class="toggle" label="Préparé" @checked={{orderdetail.prepared}} @onChange={{fn this.switch orderdetail}}/>-->
                <Input class="toggle" @type="checkbox" @checked={{orderdetail.prepared}} {{action "toggle" orderdetail on="change"}}/>
                <span class="bold"> Préparé</span>
              </td>
            </tr>
            {{/each}}
        {{/each}}
      </table>
    </div>
  </div>

  <div class="ui segment">
    <h2>Avancement</h2>
    <UiProgress class="indicating" @value="{{this.length}}" @progress="{{this.length}}" @total="{{this.max}}" >
      <div class="bar"></div>
    </UiProgress>
    <LinkTo @route="myOrders.prepare.cancel" @model={{@model.id}}>
      <button class="ui negative button ">Annuler la commande</button>
    </LinkTo>
    <LinkTo @route="myOrders.prepare.prepared" @model={{@model.id}}>
      <button class="ui positive button right floated ">Commande préparer</button>
    </LinkTo>
  </div>
</div>