{{page-title "Edit"}}
<div class="ui basic inverted violet segment temp">
  <div class="ui secondary menu">
    <div class="ui right item">
      <button {{action "logout"}} class="ui primary button ali">Déconnection</button>
    </div>
  </div>
</div>
<div class="ui basic inverted black segment temp">
  <div class="ui secondary menu">
    <div class="ui item">
      <h1 class="ui grey inverted header">Sections</h1>
    </div>
    <div class="ui right item">
      <button {{action "goBoard"}} class="ui positive button">Retour au board</button>
    </div>
  </div>
</div>

{{outlet}}
{{#if @model.isEdit}}
  <div class="ui container segment bglight">
    <h1 class="ui header">
      <div class="content">Modifier les données de la section {{@model.section.name}}</div>
    </h1>
    <div class="ui segment">
      <form {{action "update" @model on='submit'}} class="ui form">
        <div class="ui two column centered grid">
          <div class="ui centered one column wide marginBotLL marginTopLL">
            <Input class="ui input marginBotLL" type="text" placeholder="Nom de la section" required @value={{@model.section.name}}/>
            <Textarea class="ui input marginBotLL" rows="1" placeholder="Description de la section" required @value={{@model.section.description}}/>
          </div>
        </div>
        <div class="ui centered grid marginBotLL">
          <button class="ui positive button" type="submit" >Mettre a jourgit</button>
          <button class="ui negative button" {{action "cancel" @model}}>Annuler</button>
        </div>
      </form>
    </div>
  </div>
{{/if}}

<div class="ui container segment bglight">
  <h1 class="ui header">
    <div class="content">
      Section {{@model.section.name}}
    </div>
    <button {{action "back" @model}} class="ui grey button right floated">Retour</button>
    <button {{action "editing" @model}} class="ui primary button right floated"><i class="ui icon edit"></i>Modification</button>
  </h1>
  <div class="ui segment">
    <LinkTo @route="sections.edit.addProduct" @model={{@model.section.id}}>
      <button class="ui positive button ">Ajouter un nouveau produit</button>
    </LinkTo>
    <div class="ui marginTopL">
      <div class="ui">
        <table class="ui very basic table">
          {{#each @model.section.products as |product|}}
            <tr class="{{if product.isDeleted 'negative' ''}} ">
              <td>{{product.name}}</td>
              <td class="right aligned collapsing">
                <LinkTo @route="sections.edit.edit" @models={{array @model.section.id product.id}}>
                  <button class="ui secondary mini button">Modifier ...</button>
                </LinkTo>
              </td>
              <td class="right aligned collapsing">
                <LinkTo @route="sections.edit.delete" @models={{array @model.section.id product.id}}>
                  <button class="ui icon red mini button">X</button>
                </LinkTo>
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>