{{page-title "Board"}}
<header>
  <div>
    <button {{action "logout"}} class="ui primary button">Déconnection</button>
  </div>
  <div>
    <div class="ui buttons">
      <button class="ui button">Cancel</button>
      <div class="or"></div>
      <button class="ui positive button">Save</button>
    </div>
  </div>
</header>

<h1>Board !</h1>
<div class="ui grid container">
  <table class="ui celled table">
    <tr class="center aligned">
      <th>Client</th>
      <th>Date de Commande</th>
      <th>Statut</th>
      <th>Nombre de colis</th>
      <th>A payé</th>
      <th>Quantité</th>
      <th>Quantité manquant</th>
    </tr>
    {{#each @model as |val|}}
      <tr class="center aligned">
        <td>{{val.user.name}}</td>
        <td>{{val.dateCreation}}</td>
        <td>{{val.status}}</td>
        <td>{{val.amount}}</td>
        <td>{{val.toPay}}</td>
        <td>{{val.itemsNumber}}</td>
        <td>{{val.missingNumber}}</td>
      </tr>
    {{/each}}
  </table>
</div>
{{outlet}}