{{page-title "Index"}}
<div class="ui container segment centered aligned">
  <h1>Connexion</h1>
  <form class="ui centered aligned">
    <Input @value={{email}}/><br>
    <Input @value={{password}}/><br>
    <button {{action "login" email password}}>Connection</button>
  </form>
</div>
{{outlet}}