{{page-title "Sections"}}
<div class="ui basic inverted violet segment temp">
  <div class="ui secondary menu">
    <div class="ui right item">
      <button {{action "logout"}} class="ui primary button ali">Déconnection</button>
    </div>
  </div>
</div>
<div class="ui basic inverted black segment temp">
  <div class="ui secondary menu">
    <div class="ui item">
      <h1 class="ui grey inverted header">Sections</h1>
    </div>
    <div class="ui right item">
      <button {{action "goBoard"}} class="ui positive button ">Retour au board</button>
    </div>
  </div>
</div>

<div class="ui container segment bglight">
  <h1>Section</h1>
  <div class="ui segment">
    <button {{action "AddSection"}} class="ui positive button ">Ajouter une nouvelle section</button>
    <button {{action "AddProduct"}} class="ui positive button ">Ajouter un nouveau produit</button>
    <div class="ui temp2">
      <div class="ui">
        <table class="ui very basic table ">
          {{#each @model as |section|}}
            <tr>
              <td class="ui collapsing ">
                <i class="ui edit icon"></i>
                <i class="ui eraser icon"></i>
              </td>
              {{#if (eq section.id this.activeSection)}}
                <td {{action "toggle" section.id}} class="clickable"><a><i class="ui angle double down icon"></i>{{section.name}}</a></td>
              {{else}}
                <td {{action "toggle" section.id}} class="clickable"><a><i class="ui angle double right icon"></i>{{section.name}}</a></td>
              {{/if}}
            </tr>
              <tr class="apparition {{if (eq section.id this.activeSection) '' 'hidden'}}">
                <td></td>
                <td>
                  <ul>
                    {{#each section.products as |product|}}
                      <li>{{product.name}} -> {{product.price}}€</li>
                    {{/each}}
                  </ul>
                </td>
              </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>

{{outlet}}